@import url(https://fonts.googleapis.com/css?family=Merriweather:900italic|Slabo+27px|Roboto:400,700);

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("img/light-bg2.png");
  color: violet;
  text-align: center;
  font-family: "Slabo"
}
h1{

}

.title {
  font-size: 5em;
  font-family: "Merriweather"
}

.btn {
    font-size: inherit;
    color: white;
    background-color: purple;
    text-decoration: none;
    padding: 1em 2em 0.5em 0.5em;
    margin-bottom: 1.5em;
    display: inline-block;
  }

.guess {
  font-size: 2em;
  display: block;
  margin: 0 auto 1em;
}

.trophy {
  height: 400px;
}